# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.python-version
.pytest_cache/
.ruff_cache/

# AWS / Secrets
.env
.env.*
!.env.example
credentials
*.pem
*.key
aws-credentials*

# OS / Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# LocalStack
volume/
localstack-volume/

# Data (no subimos datos generados, solo el código)
data/raw/*
data/curated/*
!data/raw/.gitkeep
!data/curated/.gitkeep

# Jupyter
.ipynb_checkpoints/
